body {
    font-family: 'Varela Round', sans-serif;
    max-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 150px;
}

main {
    grid-area: 1/1/2/-1;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

footer {
    grid-area: 2/1/3/-1;
}