$font-stack-1: 'Varela Round', 'sans-serif';
$my-black: #1d1d1f;
$my-white: #fff;
$my-grey: rgba(204, 204, 204);
$main-theme-color: #344955;
$sub-theme-color: #77dbff;
$shadow: 2px 2px 3px rgb(56, 56, 56);

.--active-image {
    display: block !important;
}

.images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    opacity: 0.75;
    display: none;
    grid-area: 1/1/-1/-1;
    text-align: center;
    justify-content: center;
}

.menu-container {
    grid-area: 1/1/2/-1;
    width: 100%;
    
    .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-weight: bold;

        p {
            margin-right: 30px;
            padding: 7px 15px;

            &:hover {
                cursor: pointer;
                color: red;
            }
        }

        .--active-tab {
            background-color: $main-theme-color;
            color: $my-white;
            border-radius: 7px;
        }
    }
    
}

#overview-container {
    grid-area: 2/1/-1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    padding: 15px 40px;
    align-items: center;
    justify-items: stretch;

    #highlight {
        font-size: 1.2em;
        font-weight: bold;
    }

    #keys {
        font-weight: bold;
    }

    p:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    p:nth-child(2) {
        grid-area: 2/1/3/2;
    }

    #flag {
        grid-area: 1/2/-1/-1;
        width: 40vw;
        border-radius: 15px;
        box-shadow: 10px 5px 10px $my-black;
        justify-self: center;
    }

    p:nth-child(4) {
        grid-area: 3/1/4/2;
    }

    p:nth-child(5) {
        grid-area: 4/1/5/2;
    }

    p:nth-child(6) {
        grid-area: 5/1/6/2;
    }

    p:nth-child(7) {
        grid-area: 6/1/7/2;
    }

    p:nth-child(8) {
        grid-area: 7/1/-1/2;
    }
}

#weather-container {
    grid-area: 2/1/-1/-1;
    display: flex;
    flex-direction: column;
    
    width: auto;

    

    .forecast-summary-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .forecast-summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $my-grey;
            box-shadow: 10px 5px 5px rgb(119, 119, 119);
            border-radius: 15px;
            padding: 7px;
            margin: 0px 10px;

            div {
            margin: 0px 20px;
            }

            #weather-icon {
                width: 80px;
                height: 80px;
            }

            #date {
                font-size: 1.15em;
                font-weight: bold;
            }
        }
        
    }

    .forecast-detail-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px 0px;

        .forecast-detail {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                margin: 10px 5px;
            }
        }
    }
}

/* Mobile Size */
@media screen and (max-width: 800px) {
    #overview-container {
        display: flex;
        flex-direction: column;
        padding: 15px 40px;
    
        #flag {
            margin: 15px 0px;
            width: 40vw;
        }
    }
}