$font-stack-1: 'Varela Round', 'sans-serif';
$font-stack-2: 'PT Sans', 'sans-serif';
$my-black: #1d1d1f;
$my-white: #fff;
$my-grey: #d6d6d6;
$main-theme-color: #1dc3ff;
$sub-theme-color: #77dbff;
$shadow: 2px 2px 3px rgb(56, 56, 56);

footer {
    /* grid-area: ft; */
    background-color: #344955;
    color: #fff;
    text-align: center;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    a {
        &:hover {
            transform: scale(1.15);
        }

        img {
            width: 30px;
            height: 30px;
            margin: 10px;
            transition: all 0.3s ease-out;
            transition-duration: 0.8s;
        }
    }
}