$font-stack-1: 'Varela Round', 'sans-serif';
$my-black: #1d1d1f;
$my-white: #fff;
$my-grey: rgba(204, 204, 204);
$main-theme-color: #344955;
$sub-theme-color: #77dbff;
$shadow: 2px 2px 3px rgb(56, 56, 56);

.loader {
    display: flex;
    grid-area: 2/1/3/-1;
    justify-content: center;
    align-items: center;
}

.loader > span {
    display: inline-block;
    background-color: $main-theme-color;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
    background-color: $main-theme-color;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}